.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


h1{
  text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  h1 {
    margin-top: 0;
  }
  
  /* #taskInput {
    width: 80%;
    padding: 10px;
  
  } */
  
  button {
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 5px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li.completed {
    text-decoration: line-through;
    color: #999;
  }
  
  .delete {
    color: #e74c3c;
    cursor: pointer;
  }
  